<!DOCTYPE html>
<html lang="en">
	<head>
		<title>OrenTalk</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/base.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="container col-md-1">
		</div>
		<div class="container col-md-10">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<a class="navbar-brand">OrenTalk</a>
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
					</ul>
					<a class="navbar-brand navbar-right">{% block page_title %}{% endblock %}</a>
				</div>
				
			</nav>

			<div class="jumbotron jumbrotron-color">
				<div class="container">
					<div class="row">
					</div>
					
					<div class="row">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>

		</div>

	</body>
</html>