{% extends 'base.html' %}

{% block page_title %} {{room.title}} {% endblock %}


{% block content %}
	<form method="POST" action="{% url 'room' room.id %}">
		{{ form.text }}
		{% csrf_token %}
		{% if form.errors %}
			<div class="form-group has-error">
				<span class="help-block">{{ form.text.errors }}</span>
			</div>
		{% endif %}
	</form>

	<table class='table'>
		<tbody>
		{% for message in room.message_set.all %}
			<td>{{ message.text }}</td>
		{% endfor %}
		</tbody>
	</table>
	
{% endblock %}